<% if !current_user.present? %> 
	<%= render 'home/trip_home' %>
<% else%>
	<%= render 'itineraries/flightSearch' %>
	<div class="jumbotron page_padding scrollable hide" id="list">  
	</div>
<% end %>