/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#nav_link{
  font-size: 1.3em;
}

#user_icon{
  margin-top: 30%;
  margin-right: 5px;
}

#btn{
	margin-left: 40px;
}

body, html {
    height: 100%;
}

.bg {
  background-image: asset-url('Trip.jpg');
  height: 100%;
  background-repeat: no-repeat;
 	background-size: cover;
}

.dropdown {
	margin-right: 20%;
  position: relative;
  display: inline-block;
}

.dropdown .menu {
  top: 100%;
  position: absolute;
  display: none;
  list-style: none;
  left: 0;
  width: 200px;
  margin: 0;
}

.dropdown:hover .menu {
  display: block;
}

#ul_block{
	background-color: white;
	opacity: 0.8;
}

#ul_block li{
	padding-top: 20px;
}

.padding{
	margin-top: 100px;
}

.page_padding{
	margin-top: 1%;
}


.inline{
  display: inline-block;
  padding-left: 8%;
}

.inline-first{
  display: inline-block;
}

#source, #destinition{
  width: 200px;
}

.cost{
  color: red;
}

.flight_list{
  border: 2px solid #D2CE9F;
  border-radius: 4px;
  height: 70px;
  padding-top:15px;
  margin-top:3%;
  width: 100%;
}

.button{
  border: 1px solid red;
  border-radius: 4px;
  padding: 10px;
  width: 100px;
  background-color: red;
  color: black;
}

.search_div{
  margin-top: 10px;
  background-color: white;
  height: 200px;
  padding-top: 10px;
  padding-left: 30%;
}

.text-box-class{
  border: 1px solid #B2BCC8;
  border-radius: 5px;
  width: 436px;
  height: 36px;
}

.date{
  width: 50%;
  align: center;
}

#search_btn{
  width: 50%;
}

label.error{
  color: red;
}

input.error{
  border: 2px solid red;
}

#com{
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 30px;
  height: 97%;
}

#right-div{
  width: 80%;
  float: right;
  height: 90%;
}
#right-div .iti{
  overflow-y: scroll;
}

#left-div{
  float: left;
  width: 20%;
  height: 90%;
}

#airline_filter{
  width: 80%;
  height: 7%;
  border: 1px solid #E8E7E4;
}

input[type=checkbox] {
  margin-left: 25%;
}

#airline_image{
  margin: 5%;
}

#min{
  float: min;
  color: red;
}

#max{
  float: right;
  color: red;
}

#val, #priceval{
  padding-left: 25%;
  color: blue;
}

.bold{
  font-weight: 1000;
  font-size: 1.7em;
}

.booking_details{
  margin-top: 3%;
  font-size: 1.3em;
  margin-left: 10%;
}

#booking_btn{
  margin-top: 5%;
  height: 50px;
  width: 160px;
  font-size: 1.5em;
}

.bookings{
  border: 1px solid #D2CE9F;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%
}


table{
  width: 100%;
  padding-bottom: 10px;
}

table.booking_show_table tr th{
  font-size: 1em;
  padding-left: 25%;
  font-weight: 1000;
}

.list, table th, td{
  padding-top: 1%;
  padding-bottom: 1%;
}

.cshowbtn{
  height: 40px;
  padding-top: 5px;
  width: 250px;
  font-weight: 800;
  font-size: 1.3em;
}

.booking{
  margin-top: 1%;
  height: 97%;
}

.cbtn, .status{
  font-weight: bold;
}

.loader {
  border: 15px solid grey;
  border-radius: 50%;
  border-top: 15px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.load{
  margin-left: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 25%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media print{
  body{
    background-color: #FFF;
  }

  #container{
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  .eliminate_from_pdf{
    display: none;
  }

}

.left-tab{
  height: 635px;
  width:29%;
  float:left;
  background-color: white;
  border-radius: 2px;
}

.right-tab{
  background-color: white;
  border-radius: 2px;
  height: 635px;
  width:69%;
  float:right;
  overflow-y: scroll;
  padding-left: 4%;
}

.scheduled-itineraries table tr th{
  font-size: 0.8em;
  text-align: center;
}

.scheduled-itineraries table tr td{
  font-size: 0.5em;
  text-align: center;
}

.tab a{
  text-decoration: none;
}

.flight-assigned a{
  font-size: 0.8em;
}

#modal{
  background-color: #FCC38E;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
}

#modal ul {
  list-style: none;
  font-size: 16px;
}

#modal ul li {
  margin-left: -12%;
}

#modal ul li span{
  font-weight: bold;
}
